<div class="container mt-4">
  <div class="container-form mt-4 px-4 py-6">
    <h2 class="text-center mb-4">Login</h2>
    <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
      <div class="form-group mb-3">
        <label for="email">Enter your Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="email" required>
      </div>
      <div class="form-group mb-3">
        <label for="password">Enter your Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>

