.salir{
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

.contex-out{
    background-color: rgb(33 37 41);
    border-radius: 25px;
    padding: 4px 10px;
    margin: 10px;
    width: 120px;
}

a{
    text-decoration: none;
}