.text-contenedor{
  background: linear-gradient(270deg, #002568, #0d6efd, #00f1ff);
  color: #ffffff;
  padding: 0;
  border: 0;
}

div.container-fluid.no-padding { padding: 0;}

.text-title{
  position: absolute;
  top: 45px;
}

.login{
  background: linear-gradient(355deg, #002568, #0d6efd, #00f1ff);
  color: white;
}

.btn.button{
  background: #ffffff;
}

.btn.button:hover{
  background: #0d7dfd;
}

.input.form-control{
  color: white;
  background: transparent;
}

.salir{
  cursor: pointer;
  font-size: 1.1rem;
}

.contex-out{
  position: absolute;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 10px;
}